.subtext-nav {
  text-align: center;
  margin-bottom: 0px;
}

.Nav-bar {
  background-color: white;
  list-style: none;
  margin-bottom: 0;
  padding: 4px 0 4px 0;
  flex-direction: column;
}
.Nav-bar .inicio-nav {
  margin-left: 27rem;
}
.Nav-bar .box-shadow {
  box-shadow: 0 9px 9px -9px #999999;
}

.Nav-bar h1 {
  font-family: "Antic Didone", serif;
  font-size: 55px;
  margin: 0 0 0 0;
}

.Nav-bar ul li a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  color: black;
  margin-right: 5rem;
}

.imgs-index .img-header {
  width: 100%;
}
.imgs-index .button-imgs {
  margin-left: 5%;
}

.container-flex-index {
  padding-top: 25px;
  padding-bottom: 25px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.container-flex-index .text-span-index {
  border-radius: 10px;
  background-color: #FFD0D0;
  padding: 20px;
  color: black;
  width: 30%;
  margin-left: 28px;
  font-size: 18px;
}

.container-flex-index2 {
  background-color: #DEDEDE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 25px;
}
.container-flex-index2 .text-span-index2 {
  border-radius: 10px;
  background-color: #FFF;
  padding: 20px;
  color: black;
  width: 30%;
  margin-left: 28px;
  font-size: 18px;
}
.container-flex-index2 .img-index {
  width: 100%;
}

.lanzamientos {
  padding-top: 30px;
  background-color: #B8DBD3;
  padding-bottom: 30px;
}
.lanzamientos .text-nuevos {
  text-align: center;
  padding-bottom: 25px;
}
.lanzamientos .grid-container-index {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "producto1 producto2 producto3 producto4 producto5";
}
.lanzamientos .grid-container-index .grid-box-index {
  background-color: #fff;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(6, 6, 6, 0.1);
  margin: 0px 10px 0px 10px;
}

.producto1 {
  grid-area: producto1;
}

.producto2 {
  grid-area: producto2;
}

.producto3 {
  grid-area: producto3;
}

.producto4 {
  grid-area: producto4;
}

.producto5 {
  grid-area: producto5;
}

.grid-container-footer {
  background-color: #FFD0D0;
  margin: 20px 0px 0px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container-footer .grid-box-footer h4 {
  text-align: center;
}
.grid-container-footer .grid-box-footer p {
  text-align: center;
  margin: 0;
}

.redes-icons {
  text-align: center;
}

nav {
  background-color: #7C96AB;
}

.grid-container-hombres {
  display: flex;
  padding-top: 60px;
}
.grid-container-hombres .acordion {
  width: 100%;
}
.grid-container-hombres .ul-marcas {
  list-style: none;
  padding-left: 0px;
}
.grid-container-hombres .ul-marcas li {
  padding-bottom: 10px;
}
.grid-container-hombres .ul-marcas li a {
  text-decoration: none;
  color: black;
}
.grid-container-hombres .info {
  text-align: center;
}

.sub-navbar {
  margin: 0px 100px 0px 50px;
}
.sub-navbar .mas-comprados {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.sub-navbar h2 {
  width: 200px;
}

.sub-navbar button {
  font-size: 20px;
  padding-left: 0px;
}

.info p {
  margin-bottom: 0px;
}

.grid-container-perfumes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container-perfumes .box-perfume {
  margin: 40px 120px 0px 40px;
}

.grid-container-perfumes a {
  text-decoration: none;
}

.grid-container-perfumes figure {
  transition: all 1s;
  transition: transform 1s;
  border: 1px solid white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  padding: 0px 10px 0px 10px;
}

.grid-container-perfumes figure:hover {
  box-shadow: 0 0 10px black;
}

@keyframes slide-right {
  /* 0%{transform:translateX(0)}100%{transform:translateX(100px)} */
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide-left {
  /* 0%{transform:translateX(0)}100%{transform:translateX(-100px)} */
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes slide-top {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
.animation-img {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.text-span-index {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.animation-img2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.text-span-index2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.animation-lanzamientos {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.animation-lanzamientos2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.header-info {
  margin: 0px 109px 0px 109px;
}
.header-info .box-logo {
  padding: 5px 0px 5px 0px;
  background-color: black;
  text-align: center;
}
.header-info .flex-box-unique {
  margin-top: 40px;
  display: flex;
}
.header-info .carousel-producto {
  margin-left: 150px;
}
.header-info .info-producto {
  border-radius: 25px;
  margin: 0px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
}
.header-info .info-producto .name-producto {
  margin-bottom: 50px;
  font-size: 25px;
  margin-right: 30px;
}
.header-info .info-producto .precio-producto {
  font-size: 35px;
}
.header-info .info-producto .cuotas-producto {
  margin-bottom: 50px;
}
.header-info .info-producto .boton-comprar {
  margin-left: 80px;
  margin-bottom: 80px;
}
.header-info .info-producto .boton-comprar .comprar {
  background-color: black;
  border-radius: 25px;
  padding: 15px 60px 15px 60px;
  font-size: 20px;
}
.header-info .info-producto .extra {
  display: flex;
}
.header-info .info-producto .extra .box-extra {
  padding: 20px 20px 20px 20px;
  color: black;
  border: 1px solid;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.header-info .info-producto .extra a {
  text-decoration: none;
}

.main-margin {
  margin: 100px 109px 0px 109px;
}
.main-margin .flex-container-extra {
  display: flex;
}
.main-margin .flex-container-extra .descripcion {
  max-width: 700px;
  margin-right: 200px;
}
.main-margin .flex-container-extra .box-caracteristicas {
  border: 1px solid;
}
.main-margin .flex-container-extra .caracteristicas p {
  margin-bottom: 12px;
  width: 350px;
}
.main-margin .flex-container-extra .caracteristicas div {
  display: flex;
}
.main-margin .flex-container-extra .space {
  width: 100%;
}

.container-historia {
  background-color: #d7d7cb;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.container-historia .text-box {
  text-align: center;
  margin-right: 150px;
  margin-left: 80px;
}

.container-contacto {
  margin: 80px 150px 80px 150px;
  display: flex;
  align-items: center;
}
.container-contacto .info-text-contacto {
  margin-left: 120px;
}
.container-contacto .info-text-contacto .extra-info-contacto {
  display: flex;
}
.container-contacto .info-text-contacto .extra-info-contacto .horarios {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.container-contacto .info-text-contacto .extra-info-contacto .direccion {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.container-contacto .info-text-contacto .extra-info-contacto div {
  margin-right: 70px;
}
.container-contacto .info-text-contacto .extra-info-contacto div p {
  margin: 0 0 0 0;
}
.container-contacto .info-text-contacto h4 {
  font-size: 4rem;
}

.Container-contacto-2 {
  display: flex;
  background-color: #d7d7cb;
  text-align: center;
}
.Container-contacto-2 .contactanos {
  margin-top: 100px;
  font-size: 3rem;
}
.Container-contacto-2 .text-contactanos {
  margin-bottom: 30px;
  text-align: center;
}
.Container-contacto-2 .form-contacto {
  text-align: center;
}
.Container-contacto-2 .form-contacto .box-contacto {
  margin-left: 200px;
  display: flex;
}
.Container-contacto-2 .form-contacto .box-contacto .box-label {
  display: flex;
  flex-direction: column;
}
.Container-contacto-2 .form-contacto .box-contacto .box-label input {
  background-color: #d7d7cb;
  padding: 5px 0px 5px 10px;
}
.Container-contacto-2 .form-contacto .text-area {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.Container-contacto-2 .form-contacto .text-area textarea {
  background-color: #d7d7cb;
}
.Container-contacto-2 .form-contacto .button-contacto {
  margin-top: 10px;
  background-color: #d7d7cb;
  padding: 8px 8px 8px 8px;
}

@media (width < 768px) {
  .text-span-index {
    width: 100%;
  }
  .grid-container-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "producto1" "producto2" "producto3" "producto4" "producto5";
  }
  .text-span-index2 {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
