.nav-box {
  background-color: white;
  margin-bottom: 0;
  padding: 4px 0 4px 0;
  box-shadow: 0 9px 9px -9px #999999;
}
.nav-box .nav-bar {
  flex-direction: row-reverse;
}
.nav-box .nav-bar .nav-link {
  color: #373737;
  border: 2px solid transparent;
}
.nav-box .nav-bar ul li {
  padding: 0px 10px;
}
.nav-box .nav-bar ul li a {
  transition: 1s;
  padding: 5px 15px;
  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 1.08rem;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  color: #373737;
}
.nav-box .nav-bar ul li a:hover {
  border-color: #46474A;
}

.nav-box h1 {
  font-family: "Antic Didone", serif;
  font-size: 45px;
  margin: 0 0 0 0;
}

.navbar-icon {
  fill: black;
}

.carrousel-box {
  margin-top: 6px;
}

.imgs-index .img-header {
  width: 100%;
}
.imgs-index .button-imgs {
  margin-left: 5%;
}

.container-flex-index {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}
.container-flex-index .text-span-index {
  border-radius: 10px;
  background-color: #FFD0D0;
  padding: 20px;
  color: black;
  width: 30%;
  margin-left: 28px;
  font-size: 18px;
}

.container-flex-index2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 25px;
}
.container-flex-index2 .text-span-index2 {
  border-radius: 10px;
  background-color: #999999;
  padding: 20px;
  color: white;
  width: 30%;
  margin-left: 28px;
  font-size: 18px;
}
.container-flex-index2 .img-index {
  width: 100%;
}

.lanzamientos {
  padding-top: 30px;
  padding-bottom: 30px;
}
.lanzamientos .text-nuevos {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  padding-bottom: 25px;
}
.lanzamientos .grid-container-index {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "producto1 producto2 producto3 producto4 producto5";
}
.lanzamientos .grid-container-index .grid-box-index {
  box-shadow: 0 0 10px gray;
  background-color: #fff;
  text-align: center;
  border: 1px solid white;
  margin: 0px 10px 0px 10px;
}
.lanzamientos .grid-container-index .grid-box-index .nombre figcaption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.lanzamientos .grid-container-index .grid-box-index .nombre p {
  text-transform: uppercase;
  font-size: 15px;
}
.lanzamientos .grid-container-index .grid-box-index .precio {
  margin-top: 10px;
}
.lanzamientos .grid-container-index .grid-box-index .precio .pesos {
  font-size: 20px;
  font-weight: 700;
}
.lanzamientos .grid-container-index .grid-box-index p {
  margin: 0 0 0 0;
}

.producto1 {
  grid-area: producto1;
}

.producto2 {
  grid-area: producto2;
}

.producto3 {
  grid-area: producto3;
}

.producto4 {
  grid-area: producto4;
}

.producto5 {
  grid-area: producto5;
}

@media (max-width: 768px) {
  .lanzamientos .grid-container-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "producto1" "producto2" "producto3" "producto4" "producto5";
  }
  .lanzamientos .grid-container-index .grid-box-index {
    margin-top: 30px;
  }
  .container-flex-index .text-span-index {
    margin: 0 0 0 0;
    width: 100%;
  }
  .container-flex-index2 .text-span-index2 {
    margin: 0 0 0 0;
    width: 100%;
  }
}
.grid-container-footer {
  margin: 20px 0px 0px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "info1 info2 info3";
}
.grid-container-footer .grid-box-footer h4 {
  text-align: center;
}
.grid-container-footer .grid-box-footer p {
  text-align: center;
  margin: 0;
}

.redes-icons {
  text-align: center;
}

.info1 {
  grid-area: info1;
}

.info2 {
  grid-area: info2;
}

.info3 {
  grid-area: info3;
}

@media (max-width: 768px) {
  .grid-container-footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "info1" "info2" "info3";
  }
  .grid-container-footer .info-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.grid-container-hombres {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
}
.grid-container-hombres .acordion {
  width: 100%;
}
.grid-container-hombres .ul-marcas {
  list-style: none;
  padding-left: 0px;
}
.grid-container-hombres .ul-marcas li {
  padding-bottom: 10px;
}
.grid-container-hombres .ul-marcas li a {
  text-decoration: none;
  color: black;
}
.grid-container-hombres .info {
  text-align: center;
}

.sub-navbar {
  margin: 33px 100px 0px 50px;
}
.sub-navbar .mas-comprados {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.sub-navbar .accordion-item {
  border: 0 0 0 0;
}

.sub-navbar h2 {
  width: 200px;
}

.sub-navbar button {
  font-size: 20px;
  padding-left: 0px;
}

.info p {
  margin-bottom: 0px;
}

.grid-container-perfumes {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "perfume1 perfume2 perfume3" "perfume4 perfume5 perfume6" "perfume7 perfume8 perfume9";
}
.grid-container-perfumes .box-perfume {
  margin: 40px 120px 0px 40px;
}
.grid-container-perfumes .info figcaption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.grid-container-perfumes .info p {
  text-transform: uppercase;
  font-size: 15px;
}
.grid-container-perfumes .precio-producto {
  margin-top: 10px;
}
.grid-container-perfumes .precio-producto .signo-pesos {
  font-size: 20px;
  font-weight: 700;
}

.grid-container-perfumes p {
  margin: 0 0 0 0;
}

.perfume1 {
  grid-area: perfume1;
}

.perfume2 {
  grid-area: perfume2;
}

.perfume3 {
  grid-area: perfume3;
}

.perfume4 {
  grid-area: perfume4;
}

.perfume5 {
  grid-area: perfume5;
}

.perfume6 {
  grid-area: perfume6;
}

.perfume7 {
  grid-area: perfume7;
}

.perfume8 {
  grid-area: perfume8;
}

.perfume9 {
  grid-area: perfume9;
}

.grid-container-perfumes a {
  text-decoration: none;
}

.grid-container-perfumes figure {
  transition: all 1s;
  transition: transform 1s;
  border: 1px solid white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  padding: 0px 10px 0px 10px;
}

.grid-container-perfumes figure:hover {
  box-shadow: 0 0 10px black;
}

@media (max-width: 768px) {
  .grid-container-perfumes {
    margin-left: 27px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "perfume1" "perfume2" "perfume3" "perfume4" "perfume5" "perfume6" "perfume7" "perfume8" "perfume9";
  }
}
@keyframes scale-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-right {
  /* 0%{transform:translateX(0)}100%{transform:translateX(100px)} */
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide-left {
  /* 0%{transform:translateX(0)}100%{transform:translateX(-100px)} */
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes slide-top {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
.animation-img {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.text-span-index {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.animation-img2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.text-span-index2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.animation-lanzamientos {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.animation-lanzamientos2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.box-perfume {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: scale-center;
  animation-duration: 1s;
}

.header-info {
  margin: 0px 109px 0px 109px;
}
.header-info .box-logo {
  padding: 5px 0px 5px 0px;
  background-color: black;
  text-align: center;
}
.header-info .flex-box-unique {
  margin-top: 40px;
  display: flex;
}
.header-info .carousel-producto {
  margin-left: 150px;
}
.header-info .info-producto {
  border-radius: 25px;
  margin: 0px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
}
.header-info .info-producto .name-producto {
  margin-bottom: 50px;
  font-size: 25px;
  margin-right: 30px;
}
.header-info .info-producto .precio-producto {
  font-size: 35px;
}
.header-info .info-producto .cuotas-producto {
  margin-bottom: 50px;
}
.header-info .info-producto .boton-comprar {
  margin-left: 80px;
  margin-bottom: 80px;
}
.header-info .info-producto .boton-comprar .comprar {
  background-color: black;
  border-radius: 25px;
  padding: 15px 60px 15px 60px;
  font-size: 20px;
}
.header-info .info-producto .extra {
  display: flex;
}
.header-info .info-producto .extra .box-extra {
  padding: 20px 20px 20px 20px;
  color: black;
  border: 1px solid;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.header-info .info-producto .extra a {
  text-decoration: none;
}

.main-margin {
  margin: 100px 109px 0px 109px;
}
.main-margin .flex-container-extra {
  display: flex;
}
.main-margin .flex-container-extra .descripcion {
  max-width: 700px;
  margin-right: 200px;
}
.main-margin .flex-container-extra .box-caracteristicas {
  border: 1px solid;
}
.main-margin .flex-container-extra .caracteristicas p {
  margin-bottom: 12px;
  width: 350px;
}
.main-margin .flex-container-extra .caracteristicas div {
  display: flex;
}
.main-margin .flex-container-extra .space {
  width: 100%;
}

@media (max-width: 768px) {
  .header-info {
    margin: 0 0 0 0;
  }
  .header-info .carousel-producto {
    width: 100%;
    margin: 0 0 0 0;
  }
  .header-info .carousel-producto .img-perfume {
    width: 100%;
  }
  .header-info .info-producto .boton-comprar {
    margin-left: 0px;
  }
  .header-info .info-producto .extra .box-extra {
    margin: 0 0 0 8px;
  }
  .flex-box-unique {
    flex-wrap: wrap;
  }
  .main-margin {
    margin: 0 0 0 0;
  }
  .main-margin .flex-container-extra {
    flex-wrap: wrap;
  }
  .main-margin .flex-container-extra .descripcion {
    margin: 0 0 20px 0;
  }
}
.container-historia {
  background-color: #d7d7cb;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.container-historia .text-box {
  text-align: center;
  margin-right: 150px;
  margin-left: 80px;
}

@media (max-width: 768px) {
  .container-historia {
    flex-wrap: wrap;
  }
  .container-historia .text-box {
    width: 100%;
    margin: 0 0 0 0;
  }
  .container-historia .img-historia {
    width: 100%;
  }
}
.container-contacto {
  margin: 80px 150px 80px 150px;
  display: flex;
  align-items: center;
}
.container-contacto .info-text-contacto {
  margin-left: 120px;
}
.container-contacto .info-text-contacto .extra-info-contacto {
  display: flex;
}
.container-contacto .info-text-contacto .extra-info-contacto .horarios {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.container-contacto .info-text-contacto .extra-info-contacto .direccion {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.container-contacto .info-text-contacto .extra-info-contacto div {
  margin-right: 70px;
}
.container-contacto .info-text-contacto .extra-info-contacto div p {
  margin: 0 0 0 0;
}
.container-contacto .info-text-contacto h4 {
  font-size: 4rem;
}

.container-contacto-2 {
  display: flex;
  background-color: #d7d7cb;
  text-align: center;
}
.container-contacto-2 .contactanos {
  margin-top: 100px;
  font-size: 3rem;
}
.container-contacto-2 .text-contactanos {
  margin-bottom: 30px;
  text-align: center;
}
.container-contacto-2 .form-contacto {
  text-align: center;
}
.container-contacto-2 .form-contacto .box-contacto {
  margin-left: 200px;
  display: flex;
}
.container-contacto-2 .form-contacto .box-contacto .box-label {
  display: flex;
  flex-direction: column;
}
.container-contacto-2 .form-contacto .box-contacto .box-label input {
  background-color: #d7d7cb;
  padding: 5px 0px 5px 10px;
  border: 1px solid;
}
.container-contacto-2 .form-contacto .text-area {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.container-contacto-2 .form-contacto .text-area textarea {
  background-color: #d7d7cb;
}
.container-contacto-2 .form-contacto .button-contacto {
  border: 1px solid;
  margin-top: 10px;
  background-color: #d7d7cb;
  padding: 8px 8px 8px 8px;
}

@media (max-width: 768px) {
  .container-contacto {
    flex-wrap: wrap;
    margin: 0 0 0 0;
  }
  .container-contacto .info-text-contacto {
    margin: 0 0 0 0;
  }
  .container-contacto .info-text-contacto h4 {
    font-size: 3.5rem;
  }
  .container-contacto .info-text-contacto h4 .extra-info-contacto {
    justify-content: center;
  }
  .container-contacto .info-text-contacto h4 .extra-info-contacto .container-text {
    margin: 0 0 0 0;
  }
  .container-contacto-2 {
    flex-wrap: wrap;
  }
  .container-contacto-2 .form-contacto {
    width: 100%;
  }
  .container-contacto-2 .form-contacto .box-contacto {
    margin: 0 0 0 0;
  }
  .container-contacto-2 .form-contacto .text-area {
    margin: 0 0 0 0;
  }
  .img-contacto {
    width: 100%;
  }
  .img-contacto-2 {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
