@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

p {
  margin: 0 0 0 0;
}

.nav-box {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
  margin-bottom: 0;
  padding: 4px 0 4px 0;
  box-shadow: 0 9px 9px -9px #999999;
}
.nav-box .nav-bar {
  flex-direction: row-reverse;
}
.nav-box .nav-bar .nav-link {
  color: #373737;
  border: 2px solid transparent;
}
.nav-box .nav-bar ul li {
  padding: 0px 10px;
}
.nav-box .nav-bar ul li a {
  transition: 1s;
  padding: 5px 15px;
  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 1.08rem;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  color: #373737;
}
.nav-box .nav-bar ul li a:hover {
  border-color: #46474A;
}

.nav-box h1 {
  font-family: "Antic Didone", serif;
  font-size: 45px;
  margin: 0 0 0 0;
}

.navbar-icon {
  fill: black;
}

/* START CARROUSEL */
.carrousel-box {
  margin-top: 6px;
}

.imgs-index .img-header {
  width: 100%;
}
.imgs-index .button-imgs {
  margin-left: 5%;
}

/* END CARROUSEL */
/* START PERFUME Y TEXTO MUJER */
.container-flex-index {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}
.container-flex-index .text-span-index {
  border-radius: 10px;
  background-color: #FFD0D0;
  padding: 20px;
  color: black;
  width: 30%;
  margin-left: 28px;
  font-size: 18px;
}

/* END PERFUME Y TEXTO MUJER */
/* START PERFUME Y TEXTO HOMBRE */
.container-flex-index2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 25px;
}
.container-flex-index2 .text-span-index2 {
  border-radius: 10px;
  background-color: #999999;
  padding: 20px;
  color: white;
  width: 30%;
  margin-left: 28px;
  font-size: 18px;
}
.container-flex-index2 .img-index {
  width: 100%;
}

/* END PERFUME Y TEXTO HOMBRE */
/* START LANZAMIENTOS */
.lanzamientos {
  padding-top: 30px;
}
.lanzamientos .text-nuevos {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  padding-bottom: 25px;
}
.lanzamientos .grid-container-index {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-areas: "producto1 producto2 producto3 producto4 producto5";
}
.lanzamientos .grid-container-index .box-perfume-index {
  margin: 0px 0px 0px 0px;
}
.lanzamientos .grid-container-index .info-index figcaption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.lanzamientos .grid-container-index .info-index p {
  text-transform: uppercase;
  font-size: 15px;
}

.producto1 {
  grid-area: producto1;
}

.producto2 {
  grid-area: producto2;
}

.producto3 {
  grid-area: producto3;
}

.producto4 {
  grid-area: producto4;
}

.producto5 {
  grid-area: producto5;
}

.grid-container-index a {
  text-decoration: none;
}

.grid-container-index figure {
  transition: all 1s;
  transition: transform 1s;
  border: 1px solid white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  padding: 0px 10px 0px 10px;
}

.grid-container-index figure:hover {
  box-shadow: 0 0 10px black;
}
.grid-container-index figure:hover .button-comprar-2 {
  opacity: 1;
}

/* END LANZAMIENTOS */
footer {
  margin: 0 50px 0 50px;
}

/* START LINKS EXTRAS */
.grid-container-footer {
  border-top: 1px solid black;
  margin-top: 20px;
  text-align: start;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-template-areas: "info1 info2 info3";
}
.grid-container-footer .grid-box-footer {
  margin-top: 20px;
}
.grid-container-footer .ul-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.grid-container-footer .ul-container ul {
  padding: 0 0 0 0;
  margin-right: 30px;
}
.grid-container-footer .ul-container ul li {
  list-style: none;
  margin: 10px 0px 10px 0px;
}
.grid-container-footer .ul-container ul li a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
  transform: scale(1);
}
.grid-container-footer .ul-container ul li a:hover {
  transform: scale(1.2);
}
.grid-container-footer .grid-box-footer p {
  text-align: center;
  margin: 0;
}

.info1 {
  grid-area: info1;
}

.info2 {
  grid-area: info2;
}

.info3 {
  grid-area: info3;
}

.info4 {
  grid-area: info4;
}

/* END LINKS EXTRAS */
/* START REDES */
.container-redes {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-redes .box-redes a {
  text-decoration: none;
  color: black;
}
.container-redes .box-redes svg {
  margin-left: 10px;
  margin-right: 10px;
}

/* END REDES */
/* START PAISES */
.container-paises {
  margin-left: 50px;
  margin-top: 20px;
}
.container-paises .container-flags {
  display: flex;
  flex-wrap: wrap;
}
.container-paises .container-flags .box-flags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 30px;
}
.container-paises .container-flags .box-flags a {
  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1s;
}

.container-paises h4 {
  margin-top: 10px;
}

/* END PAISES */
/* START IMAGENES PRINCIPALES */
.box-img-men {
  margin: 0 550px 0 600px;
}

.box-img-women {
  margin: 0 400px 0 450px;
}

/* END IMAGENES PRINCIAPLES */
/* START NAVBAR-IZQUIERDA */
.grid-container-hombres {
  display: flex;
}
.grid-container-hombres .acordion {
  width: 100%;
}
.grid-container-hombres .ul-marcas {
  list-style: none;
  padding-left: 0px;
}
.grid-container-hombres .ul-marcas li {
  padding-bottom: 10px;
}
.grid-container-hombres .ul-marcas li a {
  text-decoration: none;
  color: black;
}
.grid-container-hombres .info {
  text-align: center;
}

.sub-navbar {
  margin: 33px 100px 0px 50px;
}
.sub-navbar .mas-comprados {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.sub-navbar .accordion-item {
  border: 0 0 0 0;
}

.sub-navbar h2 {
  width: 200px;
}

.sub-navbar button {
  font-size: 20px;
  padding-left: 0px;
}

/* END NAVBAR-IZQUIERDA */
/* START PERFUMES */
.perfume1 {
  grid-area: perfume1;
}

.perfume2 {
  grid-area: perfume2;
}

.perfume3 {
  grid-area: perfume3;
}

.perfume4 {
  grid-area: perfume4;
}

.perfume5 {
  grid-area: perfume5;
}

.perfume6 {
  grid-area: perfume6;
}

.perfume7 {
  grid-area: perfume7;
}

.perfume8 {
  grid-area: perfume8;
}

.perfume9 {
  grid-area: perfume9;
}

.grid-container-perfumes {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "perfume1 perfume2 perfume3" "perfume4 perfume5 perfume6" "perfume7 perfume8 perfume9";
}
.grid-container-perfumes .box-perfume {
  margin: 40px 120px 0px 40px;
}
.grid-container-perfumes .info figcaption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.grid-container-perfumes .info p {
  text-transform: uppercase;
  font-size: 15px;
}
.grid-container-perfumes .precio-producto .signo-pesos {
  font-size: 20px;
  font-weight: 700;
}

.grid-container-perfumes p {
  margin: 0 0 0 0;
}

.grid-container-perfumes a {
  text-decoration: none;
}

.grid-container-perfumes figure {
  transition: all 1s;
  transition: transform 1s;
  border: 1px solid white;
  color: black;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  padding: 0px 10px 0px 10px;
}

.grid-container-perfumes figure:hover {
  box-shadow: 0 0 10px black;
}
.grid-container-perfumes figure:hover .button-comprar-2 {
  opacity: 1;
}

/* END PERFUMES */
@keyframes scale-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-right {
  /* 0%{transform:translateX(0)}100%{transform:translateX(100px)} */
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide-left {
  /* 0%{transform:translateX(0)}100%{transform:translateX(-100px)} */
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
@keyframes slide-top {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
.animation-img {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.text-span-index {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.animation-img2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

.text-span-index2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.animation-lanzamientos {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-right;
  animation-duration: 2s;
}

.animation-lanzamientos2 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  animation-duration: 2s;
}

/* START ANIMATION PERFUMES */
.box-perfume {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: scale-center;
  animation-duration: 1s;
}

/* END ANIMATION PERFUMES */
/* START ANIMATION ESTRELLAS */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "★";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: black;
  transition: color 0.3s;
}

/* END ANIMATION ESTRELLAS */
/* START BUTTON COMPRAR 2 */
.button-comprar-2 {
  align-items: center;
  opacity: 0;
  width: 80%;
  border-radius: 10px;
  transition: 0.25s;
}

.button-2 {
  padding: 8px 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  transition: all 1000ms;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  outline: 1px solid black;
}

.button-2:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid black;
  box-shadow: 4px 5px 17px -4px black;
}

.button-2::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button-2:hover::before {
  width: 250%;
}

/* END BUTTON COMPRAR 2 */
/* START BUTTON COMPRAR 3 */
.button-comprar-3 {
  align-items: center;
  border-radius: 10px;
}

.button-3 {
  padding: 8px 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 1px solid black;
}

.button-3:hover {
  color: white;
  transform: scale(1.1);
  outline: 2px solid black;
  box-shadow: 4px 5px 17px -4px black;
}

.button-3::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button-3:hover::before {
  width: 250%;
}

/* END BUTTON COMPRAR 3 */
/* START HEADER */
.header-info {
  margin: 0px 109px 0px 109px;
  /* START CARROUSEL */
  /* END CARROUSEL */
  /* START INFO DERECHA */
  /* END INFO DERECHA */
}
.header-info .box-logo {
  padding: 5px 0px 5px 0px;
  background-color: black;
  text-align: center;
}
.header-info .flex-box-unique {
  margin-top: 40px;
  display: flex;
}
.header-info .carousel-producto {
  margin-left: 150px;
}
.header-info .info-producto {
  border-radius: 25px;
  margin: 0px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
}
.header-info .info-producto .name-producto {
  margin-bottom: 50px;
  font-size: 25px;
  margin-right: 30px;
}
.header-info .info-producto .precio-producto {
  font-size: 35px;
}
.header-info .info-producto .cuotas-producto {
  margin-bottom: 50px;
}
.header-info .info-producto .boton-comprar {
  margin-left: 160px;
  margin-bottom: 40px;
}
.header-info .info-producto .extra {
  display: flex;
}
.header-info .info-producto .extra .box-extra {
  padding: 20px 20px 20px 20px;
  color: black;
  border: 1px solid;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.header-info .info-producto .extra a {
  text-decoration: none;
}

/* END HEADER */
/* START MAIN */
.main-margin {
  margin: 100px 109px 0px 109px;
}
.main-margin .flex-container-extra {
  display: flex;
}
.main-margin .flex-container-extra .descripcion {
  max-width: 700px;
  margin-right: 200px;
}
.main-margin .flex-container-extra .box-caracteristicas {
  border: 1px solid;
}
.main-margin .flex-container-extra .caracteristicas p {
  margin-bottom: 12px;
  width: 350px;
}
.main-margin .flex-container-extra .caracteristicas div {
  display: flex;
}
.main-margin .flex-container-extra .space {
  width: 100%;
}

/* END MAIN */
.container-historia {
  background-color: #d7d7cb;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.container-historia .text-box {
  text-align: center;
  margin-right: 150px;
  margin-left: 80px;
}

/* START CONTACTANOS */
.container-contacto {
  margin: 80px 150px 80px 150px;
  display: flex;
  align-items: center;
}
.container-contacto .info-text-contacto {
  margin-left: 120px;
}
.container-contacto .info-text-contacto .extra-info-contacto {
  display: flex;
}
.container-contacto .info-text-contacto .extra-info-contacto .horarios {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.container-contacto .info-text-contacto .extra-info-contacto .direccion {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.container-contacto .info-text-contacto .extra-info-contacto div {
  margin-right: 70px;
}
.container-contacto .info-text-contacto .extra-info-contacto div p {
  margin: 0 0 0 0;
}
.container-contacto .info-text-contacto h4 {
  font-size: 4rem;
}

/* END CONTACTANOS */
/* START FORM CONTACTANOS */
.container-contacto-2 {
  display: flex;
  background-color: #d7d7cb;
  text-align: center;
}
.container-contacto-2 .contactanos {
  margin-top: 100px;
  font-size: 3rem;
}
.container-contacto-2 .text-contactanos {
  margin-bottom: 30px;
  text-align: center;
}
.container-contacto-2 .form-contacto {
  text-align: center;
}
.container-contacto-2 .form-contacto .box-contacto {
  margin-left: 200px;
  display: flex;
}
.container-contacto-2 .form-contacto .box-contacto .box-label {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.container-contacto-2 .form-contacto .box-contacto .box-label input {
  background-color: #d7d7cb;
  padding: 5px 0px 5px 10px;
  border: 0.1px solid;
}
.container-contacto-2 .form-contacto .text-area {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}
.container-contacto-2 .form-contacto .text-area textarea {
  background-color: #d7d7cb;
}
.container-contacto-2 .form-contacto .button-contacto {
  border: 1px solid;
  margin-top: 10px;
  background-color: #d7d7cb;
  padding: 8px 8px 8px 8px;
}

/* END FORM CONTACTANOS */
.form-main h3 {
  text-align: center;
}

.form-main form {
  text-align: center;
}

.nuevo-perfume {
  background-color: #595959;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.inv-perfume {
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
  background-color: #595959;
}

.inv-perfume ul {
  list-style: none;
}

#contenedorLista {
  background-color: #C5D5D9;
  margin: 0px 463.203px 0px 463.203px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

#listaPerfumes li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nombreInput {
  border-radius: 100px;
  width: 200px;
  outline: 0;
  text-align: center;
}

#marca {
  border-radius: 100px;
  width: 200px;
  outline: 0;
  text-align: center;
}

#precio {
  border-radius: 100px;
  width: 200px;
  outline: 0;
  text-align: center;
}

.boton-editar {
  margin-left: 30px;
}

/* CSS MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 60%;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.main-error404 {
  margin: 50px 0px 0px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-error404 a {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

/* MEDIA INDEX */
@media (max-width: 768px) {
  .lanzamientos .grid-container-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "producto1" "producto2" "producto3" "producto4" "producto5";
  }
  .lanzamientos .grid-container-index .grid-box-index {
    margin-top: 30px;
  }
  .container-flex-index .text-span-index {
    margin: 0 0 0 0;
    width: 100%;
  }
  .container-flex-index .img-index {
    width: 100%;
  }
  .container-flex-index2 .text-span-index2 {
    margin: 0 0 0 0;
    width: 100%;
  }
}
/* /MEDIA INDEX */
/* MEDIA FOOTER */
@media (max-width: 768px) {
  footer {
    margin: 0 0 0 0;
  }
  .grid-container-footer {
    display: block;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: 30px;
    margin-left: 30px;
    grid-template-areas: "info1" "info2" "info3";
  }
  .grid-container-footer .info-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-redes {
    margin: 0;
  }
}
.container-paises {
  margin-left: 30px;
  margin-right: 0px;
}

.container-flags {
  justify-content: unset;
  width: 100%;
}
.container-flags .box-flags {
  margin: 0 0 0 0;
}

/* /MEDIA FOOTER */
/* MEDIA PERFUMES */
@media (max-width: 768px) {
  .grid-container-hombres {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sub-navbar {
    margin: 0;
  }
  .grid-container-perfumes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "perfume1" "perfume2" "perfume3" "perfume4" "perfume5" "perfume6" "perfume7" "perfume8" "perfume9";
  }
  .grid-container-perfumes .box-perfume {
    margin: 0;
  }
  .box-img-men {
    margin: 0;
  }
  .box-img-men img {
    width: 100%;
  }
  .box-img-women {
    margin: 0;
  }
  .box-img-women img {
    width: 100%;
  }
}
/* /MEDIA PERFUMES */
/* MEDIA UNIQUE PERFUME */
@media (max-width: 768px) {
  .header-info {
    margin: 0 0 0 0;
  }
  .header-info .carousel-producto {
    width: 100%;
    margin: 0 0 0 0;
  }
  .header-info .carousel-producto .img-perfume {
    width: 100%;
  }
  .header-info .info-producto .boton-comprar {
    margin-left: 0px;
  }
  .header-info .info-producto .extra .box-extra {
    margin: 0 0 0 8px;
  }
  .flex-box-unique {
    flex-wrap: wrap;
  }
  .main-margin {
    margin: 0 0 0 0;
  }
  .main-margin .flex-container-extra {
    flex-wrap: wrap;
  }
  .main-margin .flex-container-extra .descripcion {
    margin: 0 0 20px 0;
  }
}
/* /MEDIA UNIQUE PERFUME */
/* MEDIA HISTORIA */
@media (max-width: 768px) {
  .container-historia {
    flex-wrap: wrap;
  }
  .container-historia .text-box {
    width: 100%;
    margin: 0 0 0 0;
  }
  .container-historia .img-historia {
    width: 100%;
  }
}
/* /MEDIA HISTORIA */
/* MEDIA CONTACTO */
@media (max-width: 768px) {
  .container-contacto {
    flex-wrap: wrap;
    margin: 0 0 0 0;
  }
  .container-contacto .info-text-contacto {
    margin: 0 0 0 0;
  }
  .container-contacto .info-text-contacto .extra-info-contacto {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container-contacto .info-text-contacto .extra-info-contacto .container-text {
    text-align: center;
    margin-right: 0px;
  }
  .container-contacto .info-text-contacto h4 {
    text-align: center;
    font-size: 2rem;
  }
  .container-contacto-2 {
    flex-wrap: wrap;
  }
  .container-contacto-2 .form-contacto {
    width: 100%;
  }
  .container-contacto-2 .form-contacto .box-contacto {
    margin: 0 0 0 0;
  }
  .container-contacto-2 .form-contacto .box-contacto .box-label {
    width: 100%;
  }
  .container-contacto-2 .form-contacto .box-contacto .box-label input {
    margin-left: 20px;
    width: 90%;
  }
  .container-contacto-2 .form-contacto .text-area textarea {
    margin-left: 20px;
    width: 90%;
  }
  .container-contacto-2 .form-contacto .text-area {
    margin: 0 0 0 0;
  }
  .container-contacto-2 .contactanos {
    font-size: 2.5rem;
  }
  .container-contacto-2 .contactanos .text-contactanos {
    width: 100%;
  }
  .img-contacto {
    width: 100%;
  }
  .img-contacto-2 {
    width: 100%;
  }
}
.container-form-contacto {
  width: 100%;
}
.container-form-contacto .box-contacto {
  flex-direction: column;
}

/* /MEDIA CONTACTO */

/*# sourceMappingURL=main.css.map */
