@keyframes slide-right {
    /* 0%{transform:translateX(0)}100%{transform:translateX(100px)} */
    0%{
        left:-100%
    }
    100%{
        left: 0%
    }
}
@keyframes slide-left {
    /* 0%{transform:translateX(0)}100%{transform:translateX(-100px)} */
    0%{
        right:-100%
    }
    100%{
        right: 0%
    }
}

.animation-img{
    position: relative;
    animation-fill-mode: forwards;
    animation-name: slide-right;
    animation-duration: 2s;
}

.text-span-index{
    position: relative;
    animation-fill-mode: forwards;
    animation-name: slide-left;
    animation-duration: 2s;
}

.animation-img2{
    position: relative;
    animation-fill-mode: forwards;
    animation-name: slide-left;
    animation-duration: 2s;
}

.text-span-index2{
    position: relative;
    animation-fill-mode: forwards;
    animation-name: slide-right;
    animation-duration: 2s;
}