@keyframes scale-center{
    0%{transform:scale(.5)} 100%{transform:scale(1)}
}

@keyframes slide-right {
    /* 0%{transform:translateX(0)}100%{transform:translateX(100px)} */
    0%{
        left:-100%
    }
    100%{
        left: 0%
    }
}

@keyframes slide-left {
    /* 0%{transform:translateX(0)}100%{transform:translateX(-100px)} */
    0%{
        right:-100%
    }
    100%{
        right: 0%
    }
}

@keyframes slide-top {
    0%{
        top: -100%;
    }
    100%{
        top: 0%;
    }
}

.animation-img{
    @include animation (relative,forwards,slide-right,2s);
}

.text-span-index{
    @include animation(relative,forwards,slide-left,2s);
}

.animation-img2{
    @include animation(relative,forwards,slide-left,2s);
}

.text-span-index2{
    @include animation (relative,forwards,slide-right,2s);
}

.animation-lanzamientos{
    @include animation (relative,forwards,slide-right,2s);
}

.animation-lanzamientos2{
    @include animation(relative,forwards,slide-left,2s);
}
/* START ANIMATION PERFUMES */
.box-perfume{
    position: relative;
    animation-fill-mode: forwards;
    animation-name: scale-center;
    animation-duration: 1s;
}
/* END ANIMATION PERFUMES */

/* START ANIMATION ESTRELLAS */
.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: black;
    transition: color 0.3s;
  }
/* END ANIMATION ESTRELLAS */

/* START BUTTON COMPRAR 2 */
  .button-comprar-2{
    align-items: center;
    opacity: 0;
    width: 80%;
    border-radius: 10px;
    transition: .25s;
  }
  .button-2 {
    padding: 8px 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    transition: all 1000ms;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    outline: 1px solid black;
  }
  
  .button-2:hover {
    color: white;
    transform: scale(1.1);
    outline: 2px solid black;
    box-shadow: 4px 5px 17px -4px black;
  }
  
  .button-2::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button-2:hover::before {
    width: 250%;
  }
/* END BUTTON COMPRAR 2 */

/* START BUTTON COMPRAR 3 */
  .button-comprar-3{
    align-items: center;
    border-radius: 10px;
  }
  .button-3 {
    padding: 8px 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 1px solid black;
  }
  
  .button-3:hover {
    color: white;
    transform: scale(1.1);
    outline: 2px solid black;
    box-shadow: 4px 5px 17px -4px black;
  }
  
  .button-3::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button-3:hover::before {
    width: 250%;
  }
/* END BUTTON COMPRAR 3 */