.grid-container-footer{
    background-color: #FFD0D0;
    margin: 20px 0px 0px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "info1 info2 info3";
    .grid-box-footer h4{
        text-align: center;
    }
    .grid-box-footer p{
        text-align: center;
        margin: 0;
    }
}

.redes-icons{
    text-align: center;
}

.info1{
    grid-area: info1;
}
.info2{
    grid-area: info2;
}
.info3{
    grid-area: info3;
}

@media (max-width: 768px){
    .grid-container-footer{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "info1"
        "info2"
        "info3";
        .info-2{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

