footer{
    margin: 0 50px 0 50px;
}
/* START LINKS EXTRAS */
.grid-container-footer{
    border-top: 1px solid black;
    margin-top: 20px;
    text-align: start;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,0.4fr);
    grid-template-areas:
    "info1 info2 info3";
    .grid-box-footer{
        margin-top: 20px;
    }
    .ul-container{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .ul-container ul{
        padding: 0 0 0 0;
        margin-right: 30px;
    }
    .ul-container ul li{
        list-style: none;
        margin: 10px 0px 10px 0px;
    }
    .ul-container ul li a{
        text-decoration: none;
        color: black;
        transition: transform 0.3s ease;
        transform: scale(1.0);
    }
    .ul-container ul li a:hover{
        transform: scale(1.2);
    }
    .grid-box-footer p{
        text-align: center;
        margin: 0;
    }
}
.info1{
    grid-area: info1;
}
.info2{
    grid-area: info2;
}
.info3{
    grid-area: info3;
}
.info4{
    grid-area: info4;
}
/* END LINKS EXTRAS */

/* START REDES */
.container-redes{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .box-redes a{
        text-decoration: none;
        color: black;
    }
    .box-redes svg{
        margin-left: 10px;
        margin-right: 10px;
    }
}
/* END REDES */

/* START PAISES */
.container-paises{
    margin-left: 50px;
    margin-top: 20px;
    .container-flags{
        display: flex;
        flex-wrap: wrap;
        .box-flags{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-right: 30px;
        }
        .box-flags a{
            text-decoration: none;
            color: #555;
            text-transform: uppercase;
            font-weight: 600;
            transition: 1s;
        }
        
    }
}
.container-paises h4{
    margin-top: 10px;
}
/* END PAISES */
