.container-historia{
    background-color: #d7d7cb;
    display: flex;
    margin-top: 10px;
    align-items: center;
    .text-box{
        text-align: center;
        margin-right: 150px;
        margin-left: 80px;
    }
}

@media (max-width: 768px){
    .container-historia{
        flex-wrap: wrap;
        .text-box{
            width: 100%;
            margin: 0 0 0 0;
        }
        .img-historia{
            width: 100%;
        }
    }
}