.container-historia{
    background-color: #d7d7cb;
    display: flex;
    margin-top: 40px;
    align-items: center;
    .text-box{
        text-align: center;
        margin-right: 150px;
        margin-left: 80px;
    }
}
