.imgs-index{
    .img-header{
        width: 100%;
    }
    .button-imgs{
        margin-left: 5%;
    }
}

.container-flex-index{
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    .text-span-index{
        border-radius: 10px;
        background-color: #FFD0D0;
        padding: 20px;
        color: black;
        width: 30%;
        margin-left: 28px;
        font-size: 18px;
    }
}

.container-flex-index2{
    background-color: #DEDEDE;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 25px;
    .text-span-index2{
        border-radius: 10px;
        background-color: #FFF;
        padding: 20px;
        color: black;
        width: 30%;
        margin-left: 28px;
        font-size: 18px;
    }
    .img-index{
        width: 100%;
    }
}

.lanzamientos{
    padding-top: 30px;
    background-color: #B8DBD3;
    padding-bottom: 30px;
    .text-nuevos{
        text-align: center;
        padding-bottom: 25px;
    }
    .grid-container-index{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: 
        "producto1 producto2 producto3 producto4 producto5";
        .grid-box-index{
            background-color: #fff;
            text-align: center;
            border: 1px solid white;
            box-shadow: 0 0 10px rgba(6,6,6,.1);
            margin: 0px 10px 0px 10px;
        }
    }
}

.producto1{
    grid-area: producto1;
}

.producto2{
    grid-area: producto2;
}

.producto3{
    grid-area: producto3;
}

.producto4{
    grid-area: producto4;
}

.producto5{
    grid-area: producto5;
}

@media (max-width: 768px){
    .lanzamientos{
        .grid-container-index{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas: 
            "producto1"
            "producto2"
            "producto3"
            "producto4"
            "producto5";
            .grid-box-index{
                margin-top: 30px;
            }
        }
    }
    .container-flex-index{
        .text-span-index{
            margin: 0 0 0 0;
            width: 100%;
        }
    }
    .container-flex-index2{
        .text-span-index2{
            margin: 0 0 0 0;
            width: 100%;
        }
    }
}