/* START CARROUSEL */
.carrousel-box{
    margin-top: 6px;
}
.imgs-index{
    .img-header{
        width: 100%;
    }
    .button-imgs{
        margin-left: 5%;
    }
}
/* END CARROUSEL */
/* START PERFUME Y TEXTO MUJER */
.container-flex-index{
    @include flex (row-reverse,space-evenly,center,wrap);
    padding-top: 25px;
    padding-bottom: 25px;
    .text-span-index{
        border-radius: 10px;
        background-color: #FFD0D0;
        padding: 20px;
        color: black;
        width: 30%;
        margin-left: 28px;
        font-size: 18px;
    }
}
/* END PERFUME Y TEXTO MUJER */

/* START PERFUME Y TEXTO HOMBRE */
.container-flex-index2{
    @include flex (row,space-evenly,center,wrap);
    padding-top: 3rem;
    padding-bottom: 25px;
    .text-span-index2{
        border-radius: 10px;
        background-color: #999999;
        padding: 20px;
        color: white;
        width: 30%;
        margin-left: 28px;
        font-size: 18px;
    }
    .img-index{
        width: 100%;
    }
}
/* END PERFUME Y TEXTO HOMBRE */

/* START LANZAMIENTOS */
.lanzamientos{
    padding-top: 30px;
    .text-nuevos{
        text-align: center;
        font-family: 'Didact Gothic', sans-serif;
        padding-bottom: 25px;
    }
    .grid-container-index{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5,2fr);
        grid-template-areas: 
        "producto1 producto2 producto3 producto4 producto5";
        .box-perfume-index{
            margin: 0px 0px 0px 0px;
        }
        .info-index figcaption{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        }
        .info-index p{
            text-transform: uppercase;
            font-size: 15px;
        }
    }
}

.producto1{
    grid-area: producto1;
}

.producto2{
    grid-area: producto2;
}

.producto3{
    grid-area: producto3;
}

.producto4{
    grid-area: producto4;
}

.producto5{
    grid-area: producto5;
}

.grid-container-index a{
    text-decoration: none;
}

.grid-container-index figure{
    transition: all 1s;
    transition: transform 1s;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px  gray;
    padding: 0px 10px 0px 10px;
}

.grid-container-index figure:hover{
    box-shadow:0 0 10px black;
    .button-comprar-2{
        opacity: 1;
    }
}
/* END LANZAMIENTOS */