@mixin animation ($position,$fillmode,$name,$duration){
    position: $position;
    animation-fill-mode: $fillmode;
    animation-name: $name;
    animation-duration: $duration;
}

.animation-img{
    @include animation (relative,forwards,slide-right,2s);
}

.text-span-index{
    @include animation(relative,forwards,slide-left,2s);
}

.animation-img2{
    @include animation(relative,forwards,slide-left,2s);
}

.text-span-index2{
    @include animation (relative,forwards,slide-right,2s);
}

.animation-lanzamientos{
    @include animation (relative,forwards,slide-right,2s);
}

.animation-lanzamientos2{
    @include animation(relative,forwards,slide-left,2s);
}