.subtext-nav{
    text-align: center;
    margin-bottom: 0px;
}
.Nav-bar{
    background-color: white;
    list-style: none;
    margin-bottom: 0;
    padding: 4px 0 4px 0;
    flex-direction: column;
    .inicio-nav{
        margin-left: 27rem;
    }
    .box-shadow{
        box-shadow: 0 9px 9px -9px #999999;
    }
}

.Nav-bar h1{
    font-family: 'Antic Didone', serif;
    font-size: 55px;
    margin: 0 0 0 0;
}

.Nav-bar ul li a{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: black;
    margin-right: 5rem;
}
