.nav-box{
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: white;
    margin-bottom: 0;
    padding: 4px 0 4px 0;
    box-shadow: 0 9px 9px -9px #999999;
    .nav-bar{
        flex-direction: row-reverse;
        .nav-link{
            color: #373737;
            border: 2px solid transparent;
        }
    }
    .nav-bar ul li{
        padding: 0px 10px;
    }
    .nav-bar ul li a{
        transition: 1s;
        padding: 5px 15px;
        border: 2px solid transparent;
        border-radius: 15px;
        font-size: 1.08rem;
        font-family: "DM Sans",sans-serif;
        text-decoration: none;
        color: #373737;
    }
    .nav-bar ul li a:hover{
        border-color: #46474A;
    }
}

.nav-box h1{
    font-family: 'Antic Didone', serif;
    font-size: 45px;
    margin: 0 0 0 0;
}

.navbar-icon{
    fill: black;
}
