.box-img-men{
    margin: 0 550px 0 600px;
}
.box-img-women{
    margin: 0 400px 0 450px;
}
.grid-container-hombres{
    display: flex;
    flex-wrap: wrap;
    .acordion{
        width: 100%;
    }
    .ul-marcas{
        list-style: none;
        padding-left: 0px;
    }
    .ul-marcas li{
        padding-bottom: 10px;
    }
    .ul-marcas li a{
        text-decoration: none;
        color: black;
    }
    .info{
        text-align: center;
    }
}

.sub-navbar{
    margin: 33px 100px 0px 50px;
    .mas-comprados{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    .accordion-item{
        border: 0 0 0 0;
    }
}

.sub-navbar h2{
    width: 200px;
}

.sub-navbar button{
    font-size: 20px;
    padding-left: 0px;
}

.info p{
    margin-bottom: 0px;
}

.grid-container-perfumes{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "perfume1 perfume2 perfume3"
    "perfume4 perfume5 perfume6"
    "perfume7 perfume8 perfume9";
    .box-perfume{
        margin: 40px 120px 0px 40px;
    }
    .info figcaption{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }
    .info p{
        text-transform: uppercase;
        font-size: 15px;
    }
    .precio-producto{
        margin-top: 10px;
        .signo-pesos{
            font-size: 20px;
            font-weight: 700;
        }
    }
}
.grid-container-perfumes p{
    margin: 0 0 0 0;
}

.perfume1{
    grid-area: perfume1;
}
.perfume2{
    grid-area: perfume2;
}
.perfume3{
    grid-area: perfume3; 
}
.perfume4{
    grid-area: perfume4; 
}
.perfume5{
    grid-area: perfume5; 
}
.perfume6{
    grid-area: perfume6;
}
.perfume7{
    grid-area: perfume7;
}
.perfume8{
    grid-area: perfume8;
}
.perfume9{
    grid-area: perfume9;
}

.grid-container-perfumes a{
    text-decoration: none;
}

.grid-container-perfumes figure{
    transition: all 1s;
    transition: transform 1s;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px  gray;
    padding: 0px 10px 0px 10px;
}

.grid-container-perfumes figure:hover{
    box-shadow:0 0 10px black;
}

@media (max-width: 768px){
    .grid-container-hombres{
        justify-content: center;
    }
    .sub-navbar{
        margin: 0;
    }
    .grid-container-perfumes{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);
        grid-template-areas: 
        "perfume1"
        "perfume2"
        "perfume3"
        "perfume4"
        "perfume5"
        "perfume6"
        "perfume7"
        "perfume8"
        "perfume9";
        .box-perfume{
            margin: 0;
        }
    }
    .box-img-men{
        margin: 0;
    }
    .box-img-men img{
        width: 100%;
    }
    .box-img-women{
        margin: 0;
    }
    .box-img-women img{
        width: 100%;
    }
}