nav{
    background-color: #7C96AB
}
.grid-container-hombres{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    .acordion{
        width: 100%;
    }
    .ul-marcas{
        list-style: none;
        padding-left: 0px;
    }
    .ul-marcas li{
        padding-bottom: 10px;
    }
    .ul-marcas li a{
        text-decoration: none;
        color: black;
    }
    .info{
        text-align: center;
    }
}

.sub-navbar{
    margin: 0px 100px 0px 50px;
    .mas-comprados{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
}

.sub-navbar h2{
    width: 200px;
}

.sub-navbar button{
    font-size: 20px;
    padding-left: 0px;
}

.info p{
    margin-bottom: 0px;
}

.grid-container-perfumes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "perfume1 perfume2 perfume3"
    "perfume4 perfume5 perfume6"
    "perfume7 perfume8 perfume9";
    .box-perfume{
        margin: 40px 120px 0px 40px;
    }
}

.perfume1{
    grid-area: perfume1;
}
.perfume2{
    grid-area: perfume2;
}
.perfume3{
    grid-area: perfume3; 
}
.perfume4{
    grid-area: perfume4; 
}
.perfume5{
    grid-area: perfume5; 
}
.perfume6{
    grid-area: perfume6;
}
.perfume7{
    grid-area: perfume7;
}
.perfume8{
    grid-area: perfume8;
}
.perfume9{
    grid-area: perfume9;
}

.grid-container-perfumes a{
    text-decoration: none;
}

.grid-container-perfumes figure{
    transition: all 1s;
    transition: transform 1s;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px  gray;
    padding: 0px 10px 0px 10px;
}

.grid-container-perfumes figure:hover{
    box-shadow:0 0 10px black;
}

@media (max-width: 768px){
    .grid-container-perfumes{
        margin-left: 27px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);
        grid-template-areas: 
        "perfume1"
        "perfume2"
        "perfume3"
        "perfume4"
        "perfume5"
        "perfume6"
        "perfume7"
        "perfume8"
        "perfume9";
    }
}